<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyerin.phonebook.mapper.ContactMapper">
    <select id="findAllContact" resultType="com.hyerin.phonebook.dto.ContactDto">
        select * from contact
    </select>

    <insert id="insertContact" parameterType="com.hyerin.phonebook.dto.ContactDto">
        insert into contact(name, phone) values (#{name}, #{phone})
    </insert>
</mapper>